<div class="inicio-container">

  <div class="inicio-header">
    <h2>Bienvenido, Administrador</h2>
    <p>Panel de control </p>
  </div>

  <!-- TARJETAS RESUMEN -->
  <div class="cards-grid">
    <div class="card" *ngFor="let item of resumen">
      <span class="card-icono">{{ item.icono }}</span>
      <div class="card-info">
        <span class="card-valor">{{ item.valor }}</span>
        <span class="card-label">{{ item.label }}</span>
      </div>
    </div>
  </div>
  <!-- TARJETAS DE PENDIENTES -->
    <div class="pendientes"> <!-- TITULO INFORMATIVO-->
        <h2> Tareas Pendientes sin Resolver</h2>
    </div>

    <div class="cards-grid"> 
        <div class="card" *ngFor="let item of pendietes">
            <span class="card-icono">{{ item.icono }}</span>
        <div class="card-info">
            <span class="card-valor">{{ item.valor }}</span>
            <span class="card-label">{{ item.label }}</span>
            <div class="fecha-ultima">
            <h3>Solicitud mas vieja:</h3>
            <span class="card-label">{{item.date}}</span>
            </div>
            
        </div>
            <button class="boton-res"> Resolver </button>

        </div>

  </div>

</div>