<div class="tabla-container">

            <h3>Registro de Citas</h3>

            <table class="tabla-productor">

            <thead>
            <tr>
            <th>Nombre del Predio</th>
            <th>Fecha de la Cita</th>
            <th>Hora</th>
            <th>Estado de la visita</th>
            </tr>
            </thead>

            <tbody>

            <tr *ngFor="let cita of citas">

            <td>{{cita.nombre}}</td>
            <td>{{cita.fecha | date: 'dd/MM/yyyy'}}</td>
            <td>{{cita.fecha | date: 'HH:mm'}}</td>
            <td>
                <span *ngIf="cita.estado== 'Realizada'">🟢</span>
                <span *ngIf="cita.estado== 'Pendiente'">🟡</span>
                {{cita.estado}}</td>

            </tr>

            </tbody>

            </table>
</div>