.login-container{
    display:flex;
    height:100vh;
}
.titulo{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    line-height:1.5;
    font-weight: bold;
    color: #1e804f;
}
/*seccion donde esta el login*/
.login-left{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:15px;
}
/*ventana donde esta la info de asohofrucol*/
.login-right{
    flex:1;
    background:#22965c;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:40px;
    text-align:center;
}

.campo-grupo{
    width: 100%;
    max-width: 350px;
}
/*seccion encima de los input*/
.campo-grupo label {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #115e31;
    margin-bottom: 8px;
    letter-spacing: 0.3px;
}

/*seccion de los imputs del login*/
.campo-grupo input {
    width: 100%;
    height: 48px;
    padding: 16px 18px;
    border: 1.5px solid  #a8d5b9;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    color: #4a5568;
    background-color: white;
    transition: border-color 0.25s, box-shadow 0.25s, background-color 0.25s;
    outline: none;
}

/* Estado de foco: resalta con color verde */
.campo-grupo input:focus {
    border-color:  #2d9157;
    background-color: #fbfafa;
    box-shadow: 0 0 0 4px rgba(45, 145, 87, 0.1);
}
/*Seccion del boton ingreso*/
.btn-ingreso{
    padding:10px 20px;
    background:#1e804f;
    color:white;
    border:none;
    cursor:pointer;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500px;
    width: 100%;
}


.btn-solicitar{
    display: inline-block;
    padding: 12px 36px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.6);
    border-radius: 50px;     /* estilo capsula*/
    cursor: pointer;
    color: white;
    transition: all 0.4s ease;
    
}

.btn-solicitar:hover{
    background-color: rgba(255,255,255,0.15);
    border-color: #ffff;

}
/*Se emplea con el cursor encima del boton*/

/*h2 nombre de asohofrucol*/
.nombre-empresa{
    font-family:  'Playfair Display', serif;
    font-size: 40px;

}
/*texto debajo del titulo*/
.texto-info{
    font-size: 15px;
    

}
.texto-registro{
    font-size: 13px;
}
/*linea que divide la info con el boton*/
.separador{
    width: 300px;
    height: 2px;
    background: rgba(255,255,255,0.4);
    border-radius: 2px;
    margin: 0 auto 30px auto;
}
